@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Code+Pro:400,600,800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h6 {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3 {
  font-weight: 600;
}

h4, h6 {
  font-weight: 400;
}

// hero
// FIXME: change to rem
h1 {
  font-size: 64px;

  @media screen and (max-width: 450px) {
    font-size: 40px;
  }
}

// subtitles
h2 {
  font-size: 48px;

  @media screen and (max-width: 450px) {
    font-size: 30px;
  }
}

// awards images & button
h3 {
  font-size: 24px;
}

// award text
h4 {
  font-size: 30px;
  @media screen and (max-width: 500px) {
    font-size: 22px;
  }
}

// navbar images
h6 {
  font-size: 20px;
}

p {
  font-size: 24px;
  letter-spacing: 0.2rem;
}

body::selection {
  background: #ffd600;
}

a {
  all: unset;
}

a:hover {
  cursor: pointer;
}
